<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ryan.roomr_ticketservice">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Roomr"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReportProblemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatActivity"
            android:label="Message Tenants"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestLandlordTicket"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityTenant"
            android:label="RoomR" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        android:label="RoomR" />
        <activity android:name=".NotificationActivity" />
    </application>

</manifest>